<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalTrainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBDDA2241EA7F2D100A7F394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBDDA23B1EA7F2D100A7F394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBDDA2461EA7F2D100A7F394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
